@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #7B3094;
}
a:hover{
  cursor: pointer;
}


body::-webkit-scrollbar {
  width: 0.7em;

}
 
 
body::-webkit-scrollbar-thumb {
  background-color: #7B3094;
  outline: 1px solid #7B3094;
  border-radius: 10px;
}